.menu {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  transform: translate(-50%, -50%);
}

.score {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  transform: translate();
}
